---
---

// Leap Day for GitHub Pages
// by Matt Graham
// ...
// mostly the same for now, but modified by sverch

@import 'normalize';
@import 'fonts';
@import 'rouge-base16-dark';

// Black/White Spectrum
$true-black: #000;
$lighter-black: #333;
$light-black: #444;
$dark-grey: #666;
$light-grey: #999;
$light-grey-2: #c7c7c7;
$light-grey-3: #cbcbcb;
$grey-white: #e5e5e5;
$off-white: #efefef;
$soft-white: #fbfbfb;
$true-white: #fff;

// Colors
$yellowish-off-white: #eae6d1;
$summer-sky-blue: #39c;
$tangerine-yellow: #fc0;
$light-orange-yellow: #ffe788;
$full-orange: #ffce38;

// Transparent Colors
$black-75: rgba(0, 0, 0, .75);
$black-25: rgba(0, 0, 0, .25);
$black-20: rgba(0, 0, 0, .2);
$black-10: rgba(0, 0, 0, .1);
$black-09: rgba(0, 0, 0, .09);
$white-50: rgba(255, 255, 255, .5);
$white-40: rgba(255, 255, 255, .4);
$white-20: rgba(255, 255, 255, .2);

body {
  background: url('../images/body-background.png') $yellowish-off-white;
  color: $dark-grey;
  font: 14px/22px 'Quattrocento Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $lighter-black;
  margin: 0 0 10px;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: $lighter-black;
  font-size: 24px;
}

h3,
h4,
h5,
h6 {
  color: $dark-grey;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

a {
  color: $summer-sky-blue;
  font-weight: 400;
  text-decoration: none;

  small {
    color: $dark-grey;
    display: block;
    font-size: 11px;
    margin-top: -.6em;
  }
}

ul {
  list-style-image: url('../images/bullet.png');
}

strong {
  color: $lighter-black;
  font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 650px;
}

section {
  background: $soft-white;
  border: 1px solid $light-grey-3;
  border-radius: 3px;
  box-shadow: 0 1px 2px $black-09, inset 0 0 2px 2px $white-50, inset 0 0 5px 5px $white-40;
  margin: 20px 0;
  margin-top: 190px;
  padding: 30px 30px 50px;
  position: relative;
  width: 590px;

  img {
    max-width: 100%;
  }
}


blockquote {
  border-left: 1px solid $tangerine-yellow;
  font-style: italic;
  margin: 0;
  padding: 0 0 0 20px;
}

code {
  background: $lighter-black;
  border-radius: 2px;
  color: $off-white;
  font-family: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size: 13px;
  margin: 0 4px;
  padding: 2px 6px;
  text-shadow: 0 1px 0 $true-black;
}

pre {
  background: $lighter-black;
  border: 1px solid $light-grey-2;
  border-radius: 3px;
  overflow: auto;
  overflow-y: hidden;
  padding: 8px 15px;

  code {
    margin: 0;
    padding: 0;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border-bottom: 1px solid $grey-white;
  color: $light-black;
  padding: 5px 10px;
  text-align: left;
}

td {
  border-bottom: 1px solid $grey-white;
  border-right: 1px solid $tangerine-yellow;
  padding: 5px 10px;
  text-align: left;

  &:first-child {
    border-left: 1px solid $tangerine-yellow;
  }
}

hr {
  background: transparent url('../images/hr.gif') center center repeat-x;
  border: 0;
  height: 11px;
  margin: 0 0 20px;
  outline: none;
}

dt {
  color: $light-black;
  font-weight: 700;
}

header {
  // sass-lint:disable no-color-literals
  background: url('../images/background.png') #4276b6;
  box-shadow: 1px 0 2px $black-75;
  left: 0;
  margin: 0;
  min-height: 76px;
  padding: 25px 20px 40px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99;

  h1 {
    color: #f3f3f3;
    font: 40px/48px 'Copse', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 2px 0 #235796;
    white-space: nowrap;
  }

  p {
    color: #d8d8d8;
    font-size: 18px;
    margin: 0;
    text-shadow: $black-20 0 1px 0;
  }
}

// sass-lint:disable no-ids
#banner {
  background: $tangerine-yellow;
  border: 1px solid #f0b500;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 1px 3px $black-25;
  height: 50px;
  left: 0;
  margin-right: -382px;
  padding-right: 10px;
  position: fixed;
  right: 50%;
  top: 115px;
  z-index: 100;

  .button {
    background: linear-gradient($light-orange-yellow, $full-orange);
    background-color: $light-orange-yellow;
    border: 1px solid #dba500;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 $white-40, 0 1px 1px $black-10;
    color: $lighter-black;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin-left: 5px;
    margin-top: 6px;
    padding: 10px 12px;
    text-align: center;

    &:hover {
      background: linear-gradient($light-orange-yellow, $full-orange);
      background-color: #ffeca0;
    }
  }

  .fork {
    background-color: $light-orange-yellow;
    font-size: 14px;
    left: 50%;
    line-height: 14px;
    margin-left: -325px;
    margin-top: 6px;
    padding: 10px 12px;
    position: fixed;
  }

  .downloads {
    float: right;
    margin: 0 45px 0 0;

    span {
      color: #9d7f0d;
      float: left;
      font-size: 90%;
      line-height: 52px;
      text-shadow: $white-20 0 1px 0;
      text-transform: uppercase;
    }
  }

  ul {
    float: left;
    height: 40px;
    list-style: none;
    margin-left: 10px;
    padding: 0;

    li {
      display: inline;

      .button {
        background-color: $light-orange-yellow;
      }
    }
  }

  // sass-lint:disable no-ids
  #logo {
    background: url('../images/octocat-logo.svg');
    display: block;
    height: 36px;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 36px;
  }
}

small {
  font-size: 12px;
}

nav {
  left: 50%;
  margin-left: -580px;
  position: fixed;
  text-align: right;
  top: 220px;
  width: 230px;

  ul {
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    list-style-image: none;

    li {
      line-height: 16px;
      padding: 5px 0;
      // padding-right: 17px;
      // position: relative;
      // right: -12px;

      // sass-lint:disable nesting-depth
      &.tag-h1 {
        font-size: 1.2em;

        // sass-lint:disable nesting-depth
        a {
          color: $lighter-black;
          font-weight: bold;
        }
      }

      // sass-lint:disable nesting-depth
      &.tag-h2 {

        // sass-lint:disable nesting-depth
        + .tag-h1 {
          margin-top: 10px;
        }
      }
    }

    a {
      color: $dark-grey;

      // sass-lint:disable nesting-depth
      &:hover { color: $light-grey; }
    }

    // .active {
    //   border-right: solid 4px #39C;
    //   padding-right: 13px;
    // }
  }
}

footer {
  bottom: 20px;
  left: 50%;
  line-height: 16px;
  margin-left: -530px;
  position: fixed;
  text-align: right;
  width: 180px;
}

@media print, screen and (max-width: 1060px) {

  .wrapper {
    margin: 0;
    width: auto;
  }

  nav {
    display: none;
  }

  header,
  section,
  footer {
    float: none;

    h1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  // sass-lint:disable no-ids
  #banner {
    width: 100%;

    .downloads {
      margin-right: 60px;
    }

    // sass-lint:disable no-ids
    #logo {
      margin-right: 15px;
    }
  }

  section {
    border: 1px solid $grey-white;
    border-width: 1px 0;
    margin: 190px auto 20px;
    max-width: 600px;
    padding: 20px auto;
  }

  footer {
    bottom: auto;
    left: auto;
    margin: 20px auto;
    position: relative;
    text-align: center;
    width: auto;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    margin: 0;
    padding: 5px 0;

    h1 {
      font-size: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    ul,
    header {
      .view {
        position: static;
      }
    }
  }

  // sass-lint:disable no-ids
  #banner {
    top: 85px;

    .fork {
      display: inline-block;
      float: left;
      left: 20px;
      margin-left: 0;
      position: fixed;
    }
  }

  section {
    margin-bottom: 0;
    margin-top: 130px;
    width: auto;
  }
}

@media print, screen and (max-height: 680px) {

  footer {
    bottom: auto;
    left: auto;
    margin: 20px auto;
    position: relative;
    text-align: center;
    width: auto;
  }
}

@media print, screen and (max-height: 480px) {
  nav {
    display: none;
  }

  footer {
    bottom: auto;
    left: auto;
    margin: 20px auto;
    position: relative;
    text-align: center;
    width: auto;
  }
}
